<!--error catcher, itll print out the issue and tell user this site doesnt exsist-->
<%-include ./partials/header.ejs %>
<%-include ./partials/main_nav.ejs %>
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
<%-include ./partials/footer.ejs %>