<%-include ./partials/header.ejs %>
<link rel="stylesheet" href="/Content/style.css" type="text/css">
<%-include ./partials/main_nav.ejs %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %> page</p>
    </head>
    <body>
        <div id="wrapper">
            </header>
            <article>            
                <h3> This website was created for course INFR 3120U </h3>
                <p class="homepara">Use the navigation bar above to learn more about me! You can find out what Projects I was up too, a bit about me personally and fell free to contact me about anything youd like!</p>
            </article>

        </div>
    </body>
</html>
<%-include ./partials/footer.ejs %>

<!-- put about me  about project here, can use the html from assingment 1-->