<!-- Home page
this include stuff is to add the header, nav bar and footer-->
<%-include ./partials/header.ejs %>
<%-include ./partials/main_nav.ejs %>

<!--container holding the card info-->
<div class="container min-vh-100 d-flex justify-content-center align-items-center" >
<div class="card text-center">
  <div class="card-header">
    <h1><%= title %></h1>

    <!--card to hold the home page text-->
  </div>
  <div class="card-body">
    <h5 class="card-title"> Welcome to <%= title %></h5>
    <p class="card-text">
        Use the navigation bar above to learn more about me! You can find out what Projects I was up to,
        a bit about me personally, and feel free to contact me about anything you’d like!
    </p>
  </div>

  <div class="card-footer text-body-secondary">
    yipee!
  </div>
</div>

<!--footer-->
<%-include ./partials/footer.ejs %>

